# 1数据清洗

In [6]:
file = 'D:\\python\\data analyse\\analyse and mining\\chapter4\\demo'
import pandas as pd
import numpy as np

### 1.1缺失值处理

* **方法**：删除记录、数据插补、不处理、
    * **常用的插补方法**：均值|中位数|众数插补、使用固定值、最近临插补、回归方法、插值法
        * **插值法**：利用已知点建立合适的插值函数f(x)，未知值有对应点x1求出的函数值f(x1)近似代替

* 拉格朗日插值法

In [31]:
import pandas as pd
from scipy.interpolate import lagrange  #导入拉格朗日插值函数

inputfile = file + '\\data\\catering_sale.xls'
outputfile = file + '\\tmp\\sales.xls'

data = pd.read_excel(inputfile)
b = data['销量']

In [1]:
data['销量'][(data['销量'] < 400) | (data['销量'] > 5000)] = None  #过滤异常值，将其设为空值

#自定义列向量插值函数
#s为列向量，n为被插值位置,k为去前后的数据个数,默认为5
def ployinterp_columns(s,n,k=5):
    y = s[list(range(n-k,n)) + list(range(n+1,n+k+1))]    #取数，不去第n个数
    y  = y[y.notnull()]  #提出空值
    return lagrange(y.index, list(y))(n)   #插值并返回插值结果

#逐个元素判断是否需要插值
for i in data.columns:
    for j in range(len(data)):
        if (data[i].isnull())[j]:  #如果为空即插值
            data[i][j] = ployinterp_columns(data[i],j)
            #data[j,i] = ployinterp_columns(data[i],j)   --  index=j, columw=i
data.to_excel(outputfile)

NameError: name 'data' is not defined

In [13]:
list(range(1,4)) + list(range(5,7))

[1, 2, 3, 5, 6]

In [20]:
len(data)

201

In [19]:
a = data[data.notnull()]
data['销量'][2]

2608.4

### 1.2异常值处理

# 2数据集成

> 将多个数据源合并存放在一个一致的数据存储（如数据仓库）中的过程

### 2.1实体识别

> 从不同数据源识别出现实世界的实体
* 同名同义
   * 例如，数据源A的属性ID和数据源B的属性ID分别描述的时菜品编号和订单编号
* 异名异义
   * 例如，A.sales_dt = B.sales_date
* 单位不统一

### 2.2冗余属性识别

* 1)同一属性多次出现
* 2）同一属性命名不一致导致重复

# 3数据变换

> 主要对数据进行规范化处理，将数据转换成“适当的”形式

### 3.1简单函数变换

* 简单函数变换是对原始数据进行某些数学函数变换，常用的变换包括**平方、开方、取对数、差分运算等**
* 用来将不具有正态分布的数据变换成具有正态分布的数据
   * 例如，个人年收入取值范围为1000元到10亿元，使用对数变换对其进行压缩是一种常用的变换处理方法

### 3.2规范化

* 为了消除指标之间的**量纲和取值范围**差异的影响，需要进行标准化处理
   * 1）最小-最大规范化
   * 2）零-均值规范化
   * 3）小数定标规范化

In [9]:
datafile = file+'\\data\\normalization_data.xls'
data = pd.read_excel(datafile,header=None)  #读取数据
data

     0    1    2     3
0   78  521  602  2863
1  144 -600 -521  2245
2   95 -457  468 -1283
3   69  596  695  1054
4  190  527  691  2051
5  101  403  470  2487
6  146  413  435  2571

In [17]:
(data-data.min())/(data.max()-data.min())  #最小-最大规范化

          0         1         2         3
0  0.074380  0.937291  0.923520  1.000000
1  0.619835  0.000000  0.000000  0.850941
2  0.214876  0.119565  0.813322  0.000000
3  0.000000  1.000000  1.000000  0.563676
4  1.000000  0.942308  0.996711  0.804149
5  0.264463  0.838629  0.814967  0.909310
6  0.636364  0.846990  0.786184  0.929571

In [11]:
(data-data.mean())/data.std()   #零-均值规范化

          0         1         2         3
0 -0.905383  0.635863  0.464531  0.798149
1  0.604678 -1.587675 -2.193167  0.369390
2 -0.516428 -1.304030  0.147406 -2.078279
3 -1.111301  0.784628  0.684625 -0.456906
4  1.657146  0.647765  0.675159  0.234796
5 -0.379150  0.401807  0.152139  0.537286
6  0.650438  0.421642  0.069308  0.595564

In [13]:
data/10**np.ceil(np.log10(data.abs().max(0)))  #小数定标规范化

       0      1      2       3
0  0.078  0.521  0.602  0.2863
1  0.144 -0.600 -0.521  0.2245
2  0.095 -0.457  0.468 -0.1283
3  0.069  0.596  0.695  0.1054
4  0.190  0.527  0.691  0.2051
5  0.101  0.403  0.470  0.2487
6  0.146  0.413  0.435  0.2571

### 3.3连续属性离散化

* 常用的离散化方法
   * 等宽法
   * 等频法
      * 将相同数量的记录放进每个空间
   * 基于定类分析的方法

### 3.4属性构造

* 基于现有的属性集构造出新的属性，并加入到现有的属性集合中
* 提取更有用的信息，挖掘更深层次的模式，提高挖掘的精度

### 3.5小波变换

* 一种新型的数据分析工具
* 基于小波变换的特征提取方法
    * 基于小波变换的多尺度空间能量分布特征提取方法
    * 基于小波变换的多尺度空间的极大值特征提取方法
    * 基于小波包变换的特征提取方法
    * 基于适应性小波神经网络的特征提取方法

# 4数据归约

> 产生更小但保持原数据完整性的新数据集

### 4.1属性规约

> 找出最小的属性子集并确保新数据子集的概率分布尽可能地解决原来数据集的概率分布

* 属性规约常用方法
    * 合并属性
    * 逐步向前选择
    * 逐步向后删除
    * 决策树归纳
    * 主成分分析

### 4.2数值规约

> 通过选择替代的、较小的数据来减少数据量

* 有参数方法：使用一个模型来评估数据，只需存放参数，而不需要存放实际数据
    * 如，回归（线性回归和多元回归）和对数线性模型（近似离散属性集中的多维概率分布）
* 无参数方法：需要存放实际数据
    * 如，直方图、聚类、抽样（采样）